# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# frontend files
/css
/images
/js
/static
manifest.json
asset-manifest.json
index.html

# misc
.DS_Store
.htaccess